  {% extends "homepage/base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}


{% block content %}
<div class="content">
  <div class="container">
        <form class="signup" method="POST" action="{% url 'users:forget_password' %}">
            <h1 style="margin:0px 0px 15px 0px ">Email Verification</h1>
                {% csrf_token %}
                  {% if form.errors %}
                    <div style="color:maroon;padding-left:10px">
                      {{ error }}
                      </div>
                      <br>
                  {% endif %}  
                
                <br>

            <div class="signup__field">
              <label>Email</label>
              <input class="signup__input" type="text" name="email" placeholder="Email *" value="" required/>
            </div>

            <div class="signup__field">
              <label>Phone</label>
              <input class="signup__input" type="text" name="phone" placeholder="Enter Phone number *" value="" required/>
            </div>


            <button type="submit" id="myBtn">Verify Account</button>
            <br>
            <p>Not a member? Call Us And Get The Help You Need <br><b> 145 145 1234</b></p>
          </form>
      </div>
</div>
{% endblock content %}


