{% extends "homepage/base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}


{% block content %}
<div class="content">
  <div class="container">
        <form class="signup " class="login" method="POST" action="{% url 'account_login' %}">
            <h1 style="margin:0px 0px 15px 0px ">Login</h1>
                {% csrf_token %}
                  {% if form.errors %}
                    <div style="color:maroon;padding-left:10px">
                      {% for field in form %}
                          {% for error in field.errors %}
                          {{ error|escape }}
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                      {{ error|escape }}
                      {% endfor %}
                      </div>
                  {% endif %}  
                <br>

            <div class="signup__field">
              <label>Email</label>
              <input class="signup__input" type="email" name="login" placeholder="Your Email *" value=""  required/>
            </div>

            <div class="signup__field">
              <label>Password</label>
              <input class="signup__input" type="password" name="password" placeholder="Password *" value=""  required />
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button type="submit" id="myBtn" style="font-size:18px">Login</button>
            <div style="width:100%;border-top:1px solid lightgray;margin:20px 0px"></div>
            <h4><a  style="color:black"  href="{% url 'users:forget_password' %}"><b>Forgot Password?</b></a></h4>
            <div style="width:100%;border-top:1px solid lightgray;margin:20px 0px"></div>
            <h4>Not a member? <span><a style="color:black" href="{{ signup_url }}" ><b>Signup</b></a></span></h4>
          </form>
      </div>
</div>
{% endblock content %}


