{% load static %}

<link rel="stylesheet" href=" {% static 'assets/css/accounts.css' %} ">
<script src="https://kit.fontawesome.com/c2bb281b83.js" crossorigin="anonymous"></script>


<body>
<header>
      <div class="w1">
        <h1 style="color:white">NSAMR</h1>
      </div>
      <div class="w2">
        <p>Call Us We Are Here To Serve You - 555 123 4567</p>
      </div>
</header>
<div class="content">
  <div class="container " >
  <div class="d-flex justify-content-center">
        <div class="signup" >
            <h1>Verify Email</h1>
             <div class="container1">
                  <div class="ball"></div>
                  <div class="ball"></div>
                  <div class="ball"></div>
            
                  <div class="shadow"></div>
                  <div class="shadow"></div>
                  <div class="shadow"></div>
              </div>
            <h2>We have sent you an email. Kindly verify? </h2>
          <button>Sign up</button>
          </div>
      </div>
          </div>
      </div>
</div>
{% include "homepage/footer.html" %}
</body>







