{% load static %}
       <footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Quick Links</h4>
          <ul class="list-unstyled">
            <li>Contact</li>
            <li>Fees</li>
            <li>Security</li>
            <li>About</li>
            <li style="padding-bottom:15px">Developers</li>
          </ul>
        </div>
      </div>

    	<div class="col-md-3 alu" >
    		<h4>Follow Us</h4>
            <ul class="social-network social-circle">
             <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
             <li><a href="#" class="icontwitter" title="Linkedin"><i class="fa fa-twitter"></i></a></li>
             <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
             <li><a href="#" class="iconyoutube" title="Linkedin"><i class="fab fa-youtube"></i></a></li>
            </ul>				
		</div>
    </div>
	<div class="row">
		<div class="col-md-12 copy">
			<p class="text-center">&copy; Copyright 2021 -  All rights reserved.</p>
		</div>
	</div> 



<!-- JavaScripts placed at the end of the document so the pages load faster --> 
<script src=" {% static 'assets/js/jquery-1.11.1.min.js' %} "></script> 
<script src=" {% static 'assets/js/bootstrap.min.js' %} "></script> 
<script src=" {% static 'assets/js/bootstrap-hover-dropdown.min.js' %} "></script> 
