{% extends 'homepage/base.html' %}
{% load static %}

{% block content %}

<style>
  .modal.custom .modal-dialog {
    width:30%;
    position:fixed;
    bottom:0;
    right:0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .modal.custom .modal-dialog {
    width: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
}
}
@media only screen and (max-width: 767px) {
  .modal.custom .modal-dialog {
    width: 95%;
    position: fixed;
    bottom: 0;
    right: 0;
}
}
</style>

<div class="body-content outer-top-vs" id="top-banner-and-menu" >
  <div class="container-fluid wide1" >
    <div class="col-lg-7 distance">
     <h1 style="margin-top:0px; font-size: 42px;font-weight: bold;">
     <span style="color: rgb(73, 72, 72);">We help Anyone, Anywhere,<br></span>
            <span style="color: rgb(73, 72, 72);">Any business sell more<br></span>
            <span style="color: rgba(21, 138, 21, 0.767);">Be successful</span>
     </h1><br>
     <form method="GET" action="" role="search"  class="form-search">
                <input  placeholder="Enter your email address here..."  name="srch- {% static 'term" id="srch' %} -term" type="text" />
                <span> <button class="bt1">Start Free Trial</button></span>
            </form>
     <br>
        <p class="p1">
            
            Try NATIONAL SALES AND MARKETING RESOURCES nsmar.ca free for 7 days.
            By entering your email, you agree to receive marketing emails from 
            NATIONAL SALES AND MARKETING RESOURCES nsmar.ca

          </p>
     </div>
     <div class="col-sm-4 wid" >
     <img style="max-height:400px;width:100%" src="https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
     </div>
    </div>

    <div class="modal custom" style="margin-bottom: 8%;"   id="trackModal" tabindex="-1" role="dialog" aria-labelledby="trackModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
  
              <div class="modal-header" style="font-family: 'Circular-Loom';">
              <button type="button" class="close" onclick="hideModal();" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h3 class="getlaid" id="trackModalLabel" style="margin:0px">
                    <b>Want free advertisement and help for your business?</b>
                  </h3>
  
              </div>
  
              <div class="modal-footer" style="padding:5px 15px 5px 15px">
                  <div class="btnmodal" data-dismiss="modal">
                    <a class="btn pointer" style="color: gray;" data-dismiss="modal">Skip Trial</a>
                    <a href="{% url 'account_signup' %}" class="btn pointer" style="color: #679141;font-size:16px" data-dismiss="modal">7 DAYS FREE</a>
                </div>
  
              </div>
          </div>
      </div>
  </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>

  $(document).ready(function() {
  setTimeout(function() {
    $('#trackModal').addClass("show");
  }, 5000);
    });
  function hideModal(){
    $('#trackModal').removeClass("show");

  }
  
</script>
{% endblock content %}