{% load static %}
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown" style="background-color:white;">
    <div class="container">
      <div class="header-top-inner">
       <h4> <i class="fas fa-exclamation-triangle fa-lg" style="color:rgb(182, 0, 0);"></i>
        Do you want more customers? <button class="responsive1" id="button1"> YES, I WANT MORE CUSTUMERS</button>
        <a style="text-decoration: underline;"></a><span class="head1">NO, I HAVE ENOUGH CUSTOMERS</span></h4>

      </div>
    </div>
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
      <div class="row">
          <div class="logo"> 
             <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder pad1"> 
                 <h2 style="margin-top: 20px;">NATIONAL SALES AND MARKETING RESOURCES</h2>
             </div>    
             <div class="ok col-sm-4" style="font-size:13px">
                <p >We are here to help you, Call us now <b>1-888-631-5556</b></p>
                <p>Please tell us how can we help you, We are here to help you <b>sales@nsamr.com</b></p>
                <i class="fab fa-facebook "></i>&ensp;
                <i class="fab fa-twitter "></i>&ensp;
                <i class="fab fa-linkedin-in "></i>&ensp;
                <i class="fab fa-youtube "></i>
            </div>
           </div>
          
    </div>
  </div>
 
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav">
    <div class="container" style="width: 100%;">
      <div class="yamm navbar navbar-default" role="navigation">
      <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
       <div class="hid_desktop">
                <h2>NSAMR</h2>
        </div>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="dropdown" > <a data-hover="dropdown"  href="#" target="logo">NSAMR</a> </li>
                <li class="dropdown" > <a data-hover="dropdown"  href="#" target="vbar1">Who are we</a> </li>
                <li class="dropdown" > <a data-hover="dropdown"  href="#" target="vbar1">What we do </a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar1">Become a member</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar1">Get help and benefits</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar1">Sell More</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar2">Market</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar">Pricing</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="javascript:void(0);" onclick="javascript:window.location.href='/contactus';" target="vbar" onclick='return false;'>About Us</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar">Blog</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="#" target="vbar3">FAQs</a> </li>
                <li class="dropdown contact"> <a data-hover="dropdown"  href="#" target="_blank"><i class="fa fa-user" style="color: #0ea55f;"></i> login</a> </li>
                <li class="dropdown">
                 <button target="_blank1" class="bt1 btn btn-success" >Start free trial</button> </li>
                
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>