<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Nsamr</title>
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">

<!-- Customizable CSS -->
<link rel="stylesheet" href=" {% static 'assets/css/contact.css' %} ">

<script src="https://kit.fontawesome.com/c2bb281b83.js" crossorigin="anonymous"></script>
<style>


.widget-list {
  li {
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.widget {
  .card-header {
    background: #fff;
    a {
      width: 100%;
      display: block;
      &:after {
        content: "+";
        position: absolute;
        right: 40px;
        top: .9rem;
        transition: transform .25s ease-in-out;
      }
      &:hover,
      &:focus {
      text-decoration: none;
      }
      &[aria-expanded="true"] {
        &:after {
          transform: rotate(45deg);
        }
      }
    }
  }
  .card-block {
    padding: 0 1.3rem;
    .widget-list {
      li {
        margin-bottom: 4px;
      }
    }
  }
}
</style>
</head>
<body class="cnt-home">

<header class="header-style-1"> 
    <div class="top-bar animate-dropdown" style="background-color:#0ea55f;">
      <div class="top3">
            <span class="top1">NATIONAL SALES AND MARKETING RESOURCES </span>
            <span class="top2">support@nsamr.com | (888) 123-9670</span>
            
      </div>
        

  </div>
  <div class="header-nav">
    <div class="container con" style="width: 100%;">
      <div class="yamm navbar navbar-default" role="navigation">
      <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="dropdown" > <a data-hover="dropdown"  href=" {% static 'category.html' %} " target="logo">NSAMR</a> </li>
                <li class="dropdown" > <a data-hover="dropdown"  href=" {% static 'category.html' %} " target="vbar1">Who are we</a> </li>
                <li class="dropdown" > <a data-hover="dropdown"  href=" {% static 'category.html' %} " target="vbar1">What we do </a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'category.html' %} " target="vbar1">Become a member</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} " target="vbar1">Get help and benefits</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} " target="vbar1">Sell More</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} " target="vbar2">Market</a> </li>
                <li class="dropdown p4"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} " target="vbar">Pricing</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="/contactus" target="vbar">About Us</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href="" target="vbar">Blog</a> </li>
                <li class="dropdown "> <a data-hover="dropdown"  href="" target="vbar3">FAQs</a> </li>
                <li class="dropdown p3 contact"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} " target="_blank"><i class="fa fa-user" style="color: #0ea55f;"></i> login</a> </li>
                <li class="dropdown">
                 <button target="_blank1" class="btn btn-success" style="background-color: #0ea55f;color: white;margin-top: 10px;margin-bottom: 13px;padding: 6px 15px 4px 15px;font-size: larger;">Start free trial</button> </li>
                
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>

  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
      <div class="row">
          <div class="logo"> 
             <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder pad1 h1"> 
                 <p>Help Center</p>
             </div>    
             <div class=" col-sm-4 h2">
                <p>Contact Customer Service</p>
            </div>
             <div class="col-lg-2" >
                <p class="first">Community forum</p>
                <p>Resolution forum</p>
                <p>Message Centre</p>
            </div>
           </div>
          
    </div>
  </div>

  
</header>
<script>
function showSib(sib_id){
    console.log("#");
    $("#"+sib_id).toggle();
    $("#"+sib_id).attr({
    "display" : "block",
  });
}
</script>
<div class="body-content outer-top-vs" id="top-banner-and-menu" >
  <div class="container-fluid">
  <div class="cardcss">
    <div class="card text-white bg-success mb-3 ">
        <span class="card-header"> <span class="blink" style="margin-left:5px">	&dArr;</span > &nbsp;We are Available!</span>
             <div class="card-body">
                  <p class="card-text"><span class="blink" style="color:black;">&#9658</span> We have active Facebook, Twitter, Instagram, and YouTube pages.
                  <br><span class="blink" style="color:black;">&#9658</span> You can reach Customer Service by E-Mail at<b>support@nsamr.com</b>by phone at <b>(888) 123-9670</b></p>
             </div>
        </div>
    </div>
  <span class="block1">We Are Here For You When You Need Us </span>
    <div style="width:70%">

   <p class="h6">Tell us about your issue so we can help you more quickly.</p>
        <div id="searchBox" class="mobile-form">
            <form action="/search" class="search-form" id="searchform" method="get">
                <input id="sbox" name="q" placeholder="Email" type="text" x-webkit-speech=""><br>
                <textarea id="sbox" name="q" placeholder="Type your message here..." type="text" x-webkit-speech=""></textarea><br>
                <button class="btn btn-success btn-lg">Submit</button>
            </form>
        </div>
        <h3>Common Issues</h3>
        <hr>

   
            <h2 class="sr-only">Solodev Content Management System</h2>
            <ul class="list1">
            <li>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up">
                  <div role="tab" id="headingOne">
                      <button class="expand1" data-toggle="collapse"  data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Payments
                      </button><hr>
                  <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                      </h4>Holds, declines, refunds, balance</h4>
                    </div>
                    <hr>
                  </div>
                </div>
              </div></li>
            <li>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up">
                  <div role="tab" id="headingTwo">
                    <button class="expand1" data-toggle="collapse"  data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                        Account profile and set up
                      </button>
                  </div><hr>
                  <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                      </h4>Credit or debit card, bank account, email, phone</h4>
                    </div><hr>
                  </div>
                </div>
                </li>
            <li>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up">
                  <div role="tab" id="headingThree">
                    <button class="expand1" data-toggle="collapse"  data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                        Disputes and account limitations
                      </button><hr>
                  </div>
                  <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                      </h4>Payment dispute, chargeback, limitation</h4>
                    </div><hr>
                  </div>
                </div>
              </li>
            <li>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up">
                  <div role="tab" id="headingFour">
                    <button class="expand1" data-toggle="collapse"  data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseOne">
                        Donations
                      </button><hr>
                  </div>
                  <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="card-block">
                    </h4>Nonprofit, PayPal Giving Fund</h4>
                    </div><hr>
                  </div>
                </div>
              </li>
             <li>
                <div id="accordion" role="tablist" aria-multiselectable="true" class="widget hidden-sm-up">
                  <div role="tab" id="headingFour">
                    <button class="expand1" data-toggle="collapse"  data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseOne">
                        Business Solutions
                      </button><hr>
                  </div>
                  <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="card-block">
                    </h4>Fees, orders, PayPal solutions</h4>
                    </div><hr>
                  </div>
                </div>
              </li>
            </ul>


            <br>
            <br>
        <div class="info">
        <h1 style="font-size:33px;margin-bottom: 0px;">NATIONAL SALES AND MARKETING RESOURCES </h1><span>has a very transparent Customer Service Policy.</span><br>
        <span>You can reach Customer Service by E-Mail at <b>support@nsamr.com</b> by phone at <b>(888) 123-9670.</b></span><br>
        <h1 style="font-size:33px;margin-bottom: 0px;">Other ways to contact us</h1>
        <ul class="float">
        <li>
        <span class="icon-chat">
        </span>
        <p> support@nsamr.com</p>
        </li>
         <li>
         <span class="icon-resolution"></span>
        <p>Resolve transaction or account issues</p>
         </li>
        <li>
        <span class="icon-callus">
        </span>
        <p>(888) 123-9670</p>
        </li>
         <li>
         <span class="icon-community">
        </span>
        <p>Resolve transaction or account issues</p>
         </li>
        </ul>
        

    </div><br><br>

    <br>
    <br>

  <hr>
  
    <br>
    <br>
    <br>
</div>
 </div>
    <div class="footer">
        <ul>

            <li>Contact</li>
            <li>Fees</li>
            <li>Security</li>
            <li>About</li>
            <li>Developers</li>
        </ul>
       
    </div>

<!-- JavaScripts placed at the end of the document so the pages load faster --> 
<script src=" {% static 'assets/js/jquery-1.11.1.min.js' %} "></script> 
<script src=" {% static 'assets/js/bootstrap.min.js' %} "></script> 
</body>

</html>