<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<meta name="robots" content="all">
<title>Nsamr</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href=" {% static 'assets/css/bootstrap.min.css' %} ">

<!-- Customizable CSS -->
<link rel="stylesheet" href=" {% static 'assets/css/main.css' %} ">

<script src="https://kit.fontawesome.com/c2bb281b83.js" crossorigin="anonymous"></script>

</head>
<body class="cnt-home">
<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1"> 
  
  <!-- ============================================== TOP MENU ============================================== -->
  <div class="top-bar animate-dropdown" style="background-color:white;">
    <div class="container">
      <div class="header-top-inner">
       <h4> <i class="fas fa-exclamation-triangle fa-lg" style="color:rgb(182, 0, 0);"></i>
        Do you want more customers? <button class="responsive1" id="button1"> YES, I WANT MORE CUSTUMERS</button>
        <a style="text-decoration: underline;">NO, I HAVE ENOUGH CUSTOMERS</a></h4>

      </div>
    </div>
  </div>
  <!-- /.header-top --> 
  <!-- ============================================== TOP MENU : END ============================================== -->
  <div class="main-header">
      <div class="row">
          <div class="logo"> 
             <div class="col-lg-7 col-md-6 col-sm-8 col-xs-12 top-search-holder"> 
                 <h2 style="margin-top: 20px;">NATIONAL SALES AND MARKETING RESOURCES</h2>
             </div>    
             <div class="ok col-sm-4" style="width:auto;font-size:13px">
                <p >We are here to help you, Call us now <b>1-888-631-5556</b></p>
                <p>Please tell us how can we help you, We are here to help you <b>sales@nsamr.com</b></p>
                <i class="fab fa-facebook "></i>&ensp;
                <i class="fab fa-twitter "></i>&ensp;
                <i class="fab fa-linkedin-in "></i>&ensp;
                <i class="fab fa-youtube "></i>
            </div>
           </div>
          
    </div>
  </div>
 
  <!-- ============================================== NAVBAR ============================================== -->
  <div class="header-nav">
    <div class="container" style="width: 1200px;">
      <div class="yamm navbar navbar-default" role="navigation">
      <div class="navbar-header">
       <button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> 
       <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div class="nav-bg-class">
          <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
            <div class="nav-outer">
              <ul class="nav navbar-nav">
                <li class="dropdown mega-menu"> 
                <a href=" {% static 'category.html' %} "  data-hover="dropdown" >Who are we</a>
                </li>
                <li class="dropdown hidden-sm"  > <a data-hover="dropdown"  href=" {% static 'category.html' %} ">What we do </a> </li>
                <li class="dropdown hidden-sm"> <a data-hover="dropdown"  href=" {% static 'category.html' %} ">Become a member</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">Get help and benefits</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">Sell More</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">Market</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">Pricing</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">About Us</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">Blog</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} ">FAQs</a> </li>
                <li class="dropdown"> <a data-hover="dropdown"  href=" {% static 'contact.html' %} "><i class="fa fa-user" style="color:black;"></i> login</a> </li>
                <li class="dropdown">
                 <button class="btn btn-success" style="background-color: #0ea55f;color: white;margin-top: 10px;margin-bottom: 13px;padding: 4px 8px 4px 8px;">Start free trail</button> </li>
                
              </ul>
              <!-- /.navbar-nav -->
              <div class="clearfix"></div>
            </div>
            <!-- /.nav-outer --> 
          </div>
          <!-- /.navbar-collapse --> 
          
        </div>
        <!-- /.nav-bg-class --> 
      </div>
      <!-- /.navbar-default --> 
    </div>
    <!-- /.container-class --> 
    
  </div>
  <!-- /.header-nav --> 
  <!-- ============================================== NAVBAR : END ============================================== --> 
  
</header>

<!-- ============================================== HEADER : END ============================================== -->
<div class="body-content outer-top-vs" id="top-banner-and-menu">
  <div class="container">
    <div class="col-lg-6">
     <h1 style="margin-top:0px">
     <span style="color: rgb(73, 72, 72);">We help Anyone, Anywhere, Anywhere<br></span>
            <span style="color: rgb(73, 72, 72);">Any business sell more<br></span>
            <span style="color: rgba(21, 138, 21, 0.767);">Be successful</span>
     </h1><br>
     <form method="GET" action="" role="search"  class="form-search">
                <input  placeholder="Search here..."  name="srch- {% static 'term" id="srch' %} -term" type="text" />
                <span> <button class="bt1">Start Free Trial</button></span>
            </form>
     <br>
        <p class="p1">
            
            Try NATIONAL SALES AND MARKETING RESOURCES nsmar.ca free for 7 days.
            By entering your email, you agree to receive marketing emails from 
            NATIONAL SALES AND MARKETING RESOURCES nsmar.ca

          </p>
     </div>
     <div class="col-sm-4" >
     <img style="max-height:300px;max-width:600px" src="https://images.unsplash.com/39/lIZrwvbeRuuzqOoWJUEn_Photoaday_CSD%20(1%20of%201)-5.jpg?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80">
     </div>
    </div>
    
  </div>
</div>




<!-- JavaScripts placed at the end of the document so the pages load faster --> 
<script src=" {% static 'assets/js/jquery-1.11.1.min.js' %} "></script> 
<script src=" {% static 'assets/js/bootstrap.min.js' %} "></script> 
<script src=" {% static 'assets/js/bootstrap-hover-dropdown.min.js' %} "></script> 

</body>

</html>