

    <nav class="navbar navbar-expand-md navbar-light sticky-top">

      <!-- One of the primary actions on mobile is to call a business - This displays a phone button on mobile only -->
      <div class="navbar-toggler-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
      </div>
    
    
    
    
 <div class="collapse navbar-collapse flex-column " id="navbar" style="background-color: #3b5998;color:white;">

    <div class="container-fluid" style="background-color: #3b5998;">
      <a href="#" class="navbar-brand">
        <img src="{% static 'img/logo.png' %}" style="width: 9.5%;" alt="CoolBrand">
    </a>

        <ul id="topnav" class="navbar-nav  w-100 justify-content-left px-1 py-2" >
          <li class="nav-item active">
            <!-- <img class="fixed-top" style="width: 9.5%;" src="{% static 'img/logo.png' %}" > -->
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink">
              Basic Membership
            </a>

          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink">
              Help
            </a>

          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              John Smith
            </a>
            <div id="topnavdropdown" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Message Center</a>
              <a class="dropdown-item" href="#">Profile Settings</a>
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
          
        </ul>
    
      </div>
        <ul class="navbar-nav justify-content-left w-100 px-3 py-0" style="background-color: white;">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="http://example.com">
              Activity
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://example.com">
              Services & Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://example.com">
              Marketing for Growth
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://example.com">
              Sales Center
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://example.com">
              Account
            </a>

          </li>
        </ul>
        
      </div>
    </nav>
<div class="container-fluid d-flex justify-content-center">
<img src="{% static 'img/marketing.jpg' %}" style="max-width: 60%;"/>
</div>
