{% extends "homepage/base.html" %}
{% load static %}

{% block content %}
<style>
:root {
  --red: #fe1609;
  --orange: #ff702e;
  --white: #f6f7f8;
  --dark: #5b5f6a;
  --dark-grey: #9ca5ae;
  --grey: #efefef;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--dark);
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  min-width: 200px;
}

.pricing-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-table h2 {
  margin: 15px;
  font-weight: 700;
  font-size: 3.5rem;
}

.container_m {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 0;
}

.pricing-table .element {
  border: 1px solid var(--dark-grey);
  border-radius: 12px;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  background-color: var(--white);
}

.element > * {
  margin: 10px;
}
.element{
    height:480px
}



.element .info h2 {
  text-align: center;
}

.element .info p {
  text-align: center;
  margin: 0 20px;
  font-size: 1.2rem;
}

.element .price {
  font-size: 4rem;
  font-weight: 700;
}

.element .period {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--grey);
  padding: 0.5rem;
  border-radius: 8px;
  color: var(--dark);
}

.element .period label {
  flex: 1 1 50%;
  text-align: center;
  padding: 0.5rem 2rem;
  cursor: pointer;
}

.element .period label:hover {
  text-decoration: underline;
}

.period input[type="radio"] {
  display: none;
}

.period input[type="radio"]:checked + label {
  font-weight: 700;
  background-color: var(--white);
  border-radius: 6px;
}

.element ul {
  font-size: 1.2rem;
  list-style-type: none;
}

.element ul li {
  margin: 0.5rem;
}

.element ul li::before {
  content: url("https://karolnowinski.pl/assets/check-mark.svg");
  display: inline-block;
  margin: 0 10px;
  width: 1em;
  height: auto;
}

.element button {
  border: 0;
  background-color: var(--white);
  font-size: 1.4rem;
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 8px;
  padding: 10px 30px;
  margin: 20px;
  font-weight: 700;
  cursor: pointer;
}

.element button:hover {
  text-decoration: none;
  box-shadow: 2px 2px 0px var(--dark);
}

.element button:focus {
  outline-color: var(--dark);
}

.active {
  background: linear-gradient(135deg, var(--red), var(--orange));
  color: var(--white);
  border: 1px solid transparent !important;
}

.active ul li::before {
  content: url("https://karolnowinski.pl/assets/check-mark-white.svg");
}

.active button {
  border-color: transparent;
}

@media only screen and (max-width: 1500px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1080px) {
  .container_m {
    flex-direction: column;
  }

  .element {
    margin: 20px 0;
  }

  .element:nth-of-type(2) {
    transform: scale(1);
  }

  .element ul {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
    text-align: center;
    flex-wrap: wrap;
  }

  .period {
    flex-wrap: wrap;
  }
}

</style>
<section class="pricing-table">
    <h2>Members Pay Less, Get More!</h2>
  <div class="container_m">
    <div class="element" >
      <div class="info">
        <h2>ESSENTIALS</h2>
        <p>Become a member of a select group of individuals who enjoy exclusive benefits across all our services and products.</p>
      </div>
      <span class="price">$10</span>
      <div class="period">
        <input type="radio" name="period" id="monthly" value="$12" checked />
        <label for="monthly">Monthly</label>
        <input type="radio" name="period" id="annualy" value="$8" />
        <label for="annualy">Annually</label>
      </div>
      <ul>
        <li>Unlimited listings</li>
        <li>Simple Analytics</li>
        <li>1 Account</li>
        <li>Branded with Lorem</li>
      </ul>
      <button name="sub" value="essentails" style="color:white;background-color:black">Register!</button>
    </div>
    <div class="element" style="color:#BBA31F;">
      <div class="info">
        <h2>GOLD</h2>
        <p>Our Gold membership programme offers an array of perks and benefits, exclusively designed to make your experiences with us more rewarding</p>
      </div>
      <span class="price">$50</span>
      <div class="period">
        <input type="radio" name="period" id="monthly" value="$12" checked />
        <label for="monthly">Monthly</label>
        <input type="radio" name="period" id="annualy" value="$8" />
        <label for="annualy">Annually</label>
      </div>
      <ul>
        <li>Unlimited listings</li>
        <li>Advanced Analytics</li>
        <li>More Services</li>
        <li>White Labels</li>
      </ul>
      <button name="sub" value="gold" style="color:white;background-color:#DDB000">Register!</button>
    </div>
    <div class="element" style="color:#818a9d;">
      <div class="info">
        <h2>PLATINUM</h2>
        <p>Get exclusive packages and services.</p>
      </div>
      <span class="price">$100</span>
      <div class="period">
        <input type="radio" name="period" id="monthly" value="$12" checked />
        <label for="monthly">Monthly</label>
        <input type="radio" name="period" id="annualy" value="$8" />
        <label for="annualy">Annually</label>
      </div>
      <ul>
        <li>All Platinum Capabilities</li>
        <li>Customized Analytics</li>
        <li>Customized Account</li>
        <li>Made with your brand</li>
      </ul>
      <button name="sub" value="platinum" style="color:white;background-color:#818a9d">Register!</button>
    </div>
    <div class="element" style="color:#8C001A;">
      <div class="info">
        <h2>ENTERPRISE</h2>
        <p>Enterprise program for our services and products.</p>
      </div>
      <span class="price">$150</span>
      <div class="period">
        <input type="radio" name="period" id="monthly" value="$12" checked />
        <label for="monthly">Monthly</label>
        <input type="radio" name="period" id="annualy" value="$8" />
        <label for="annualy">Annually</label>
      </div>
      <ul>
        <li>All Enterprise Capabilities</li>
        <li>Customized Analytics</li>
        <li>More services</li>
        <li>More products access</li>
      </ul>
      <button name="sub" value="enterprise" style="color:white;background-color:#8C001A">Register!</button>
    </div>
  </div>
</section>

{% endblock content %}