{% extends "homepage/base.html" %}
{% load i18n %}
{% load static %}
{% load account socialaccount %}


{% block content %}
<div class="content">
  <div class="container">
        <form class="signup " onsubmit="return false" autocomplete="off">
            <h1 style="margin:0px 0px 35px 0px ">Create account</h1>
                {% csrf_token %}
                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                          {{ error|escape }}
                          {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                      {{ error|escape }}
                      {% endfor %}
                  {% endif %}  

            <div class="signup__field">
              <label>Username</label>
              <input type="text" name="username"  placeholder="Username *" value="" required/>
            </div>

            <div class="signup__field">
              <label>Email</label>
              <input class="signup__input" type="email" name="email" placeholder="Your Email *" value=""  required/>
            </div>

            <div class="signup__field">
              <label>Password</label>
              <input class="signup__input" type="password" name="password1" placeholder="Password *" value=""  required />
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <button type="submit" value="Register">Sign up</button>
            
            <h4>Already have an account? <span><a href="{{ login_url }}" >Sign in</a></span></h4>
          </form>
      </div>
</div>
{% endblock content %}
